<h1>New Order</h1>

<%= form_for @order, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <%= f.text_field :comment %>
  <%= f.text_area :comment, size: "60x12" %>
  <%= f.submit "Create" %>
<% end %>

 
<%= render 'form' %>
 
<%= link_to 'Back', posts_path %>